@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@600&family=Lobster&family=Old+Standard+TT&display=swap');

* {
    font-family: 'Old Standard TT', serif;
}

body {
    background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/230106141957-weather-california-upcoming-storms-010623.jpg?c=original);
    /* background-color: #7b2cbf; */
}

header { 
    display: flex;
    justify-content: flex-end;
    height: 150px;
    padding-right: 4.5%;
}

#contentbox {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
}

#weather {
    width: 75%;
    border: 5px solid black;     display: flex; 
    flex-direction: column;
    padding-bottom: 15px;
    background-color: #bdb2ff;
}

#searchaside {
    width: 20%;
    border: 5px solid black; 
    background-color: #bdb2ff;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 500px;
}

#searchaside h3 {
    font-size: 24px;
}

#searchbox { 
    padding-top: 25px; 
    margin: 0 auto; 
}

#userinput { 
    width: 95%
}


#todayforecast {
    margin: 0 auto; 
    border: 8px solid #e09f3e; 
    background-color: #f2cc8f;
    width: 37%;
    border-radius: 32px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.iconstyle img {
    display: block;
    height: 50px;
    width: auto;
}


#futureforecast {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
}

.futurebox {
    width: 27%;
    margin: 10px auto;
    border: 8px solid #e09f3e; 
    background-color: #f2cc8f;
    border-radius: 32px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

}

h2, h3, h4, p {
    text-align: center;
    margin: 2px;
}

h2 { 
    font-size: 72px;
    font-family: 'Bebas Neue', cursive;
    font-style: oblique;
    color: #e09f3e;
    text-shadow: 8px 2px black;
}

h3 {
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    color: #7b2cbf; 
    margin-top: 15px;
}

h4 {
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline;
    font-size: 18px;
}


#previoussearches {
    margin-bottom: 15px;
}



button { 
    margin: 5px auto; 
    display: block;
    
}

#clearhist, #searchbtn {
    background-color: #f2cc8f;
    border: 2.25px solid #e09f3e;
    border-radius: 25px;
    font-weight: 500;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#searchbtn {
    margin-top: 10px;
}

@media screen and (max-width: 768px) { 
    
/* changes the flex-direction of the main webpage when viewing on mobile */
    #contentbox {
        flex-direction: column;
    }

    #weather {
        width: 95%;
        margin: 10px auto;
    }

    #searchaside {
        width: 70%;
        margin: 10px auto;
    }

}